.service-item {
  @apply p-4 pb-8 w-4/5 mx-2 text-center my-8 bg-sdaniel-transparent relative transition duration-150 shadow-md;
}
.service-item:hover {
  @apply shadow-xl;
}

.service-svg {
  @apply relative text-purple-700 stroke-1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}

@screen sm {
  .service-item {
    @apply w-1/2;
  }
}

@screen lg {
  .service-item {
    @apply w-1/4;
  }
}
